.root {
    -fx-base: #363537;
}
.text {
    -fx-fill: #cbced4;
}


//MENU
.tool-bar {
    -fx-background-color: #363537;
}
.hbox {
    -fx-background-color: #363537;
}
.pane {
    -fx-background-color: #363537;
}
.menu-bar {
    -fx-background-color: #363537;
}
.menu-item {
    -fx-background-color: #363537;
}
.menu {
    -fx-background-color: #363537;
}
.menu:hover {
    -fx-background-color: #4c4c4f;
}
.menu-item:hover {
    -fx-background-color: #4c4c4f;
}
.context-menu {
    -fx-background-color: #363537;
}


//Button
.button {
    -fx-background-color: #363537;
}
.button:hover {
    -fx-background-color: #4c4c4f;
}
#Button_Close:hover {
    -fx-background-color: red;
}


//TAB
.tab-pane {
    -fx-background-color: #363537;
}
.tab-header-background {
    -fx-background-color: #262629;
}
.tab {
    -fx-background-color: #363537;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab:hover {
    -fx-background-color: #4c4c4f;
}
.tab-label {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: 'Montserrat';
}
.tab:selected {
    -fx-background-color: #4c4c4f;
    -fx-border-color: #4c4c4f;
}

//TABLE
.table-column {
    -fx-background-color: #262629;
    -fx-focus-color: #33DBD2;
}
.table-cell {
    -fx-background-color: #4c4c4f;
    -fx-focus-color: #33DBD2;
}
.table-cell:hover {
    -fx-background-color: #363537;
}
.table-view {
    -fx-background-color: #4c4c4f;
}